.sales-bar {
    background-color: #d11d1d;
    /* Sales Red */
    color: white;
    padding: 10px 0;
    overflow: hidden;
    position: relative;
    z-index: 1002;
    /* Above everything */
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.sales-content {
    display: flex;
    width: fit-content;
    animation: scroll-left 40s linear infinite;
}

.sales-text {
    white-space: nowrap;
    padding-right: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}